/* quienes_somos.css*/
.hero-nosotros {
      min-height: 68vh;
    padding-top: 180px; /* 👈 clave */
  background: url("../img/5.otros_elementos/Wallpaper/Gemini_Generated_Image_1.png") no-repeat center center;
  background-size: cover;
}

.container_tituloNosotros {
}

.card {
  margin: 0 auto;
  border-radius: 15px;
}

.card img {
  display: block; /* Permite centrar la imagen */
  margin: 0 auto; /* Centro horizontal */
  border-radius: 15px; /* Puntas redondeadas */
  object-fit: cover; /* Ajuste visual atractivo */
}
.profesor_cd {
  padding-top: 35px;
}
#historiaPhoto {
  width: 63%;
}
#filosofiaPhoto {
  width: 100%;
}
#camiloPhoto {
  width: 39%;
}
#felipePhoto {
  width: 34%;

}
.cv {
  text-align: center;
}
